/* #region base*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h55,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

picture {
  flex-shrink: 0;
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* #endregion base */

/* #region header */

.myheader {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e7e9fc;
  /* display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; */
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  /* width: 1158px; */
  max-width: 320px;
  margin: 0 auto;
  /* padding-left: 15px;
  padding-right: 15px; */
  padding-left: 16px;
  padding-right: 16px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  flex-direction: row;
  /* flex-wrap: nowrap;
  align-items: center; */
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-right: 76px; */
}

.logo-span {
  color: #2e2f42;
}

.menu {
  display: none; /*flex*/
  flex-wrap: nowrap;
  gap: 40px;
}
/* .menu-item {
} */

.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-menu-link {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:hover {
  color: #404bbf;
}

.first-menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  display: none;
}

.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:hover {
  color: #404bbf;
}
.menu-open-btn {
  display: inline;
  background-color: transparent;
  border: none;
}
.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1;
  padding-left: 16px;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mob-menu.is-open {
  /* visibility: visible; */
  opacity: 1;
  pointer-events: auto;
}
.mob-menu-close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: solid 1px;
  border-color: #e7e9fc;
  border-radius: 100%;
  margin-right: 24px;
  margin-bottom: 24px;
}
.mob-menu-btn-icon {
}
.mob-nav {
}
.mob-menu-list {
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-item:last-child {
  margin-bottom: 168px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mob-first-menu-link {
  color: #404bbf;
}

.mob-address {
  margin-bottom: 48px;
}
.mob-address-list {
  margin-bottom: 48px;
}
.mod-address-item {
}
.mob-address-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mob-sotial-lincs-icons-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 40px;
  padding-left: 0px;
  padding-right: auto;
  margin-bottom: 40px;
}
.mob-icons-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob-slink {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-icons {
  fill: #f4f4fd;
}
/* #endregion header */

/* #region hero */

.hero {
  background-color: #2e2f42;
  /* padding: 188px 0; */
  padding: 72px 0;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mobil.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 1dppx),
  (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobil-2x.jpg);
  }
}

/* .hero-container { } */

.hero-title {
  max-width: 216px;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.hero-btn {
  display: block;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:hover {
  background-color: #404bbf;
}

/* #endregion hero */

/* #region advanteges */
.advantages {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
  
}

.container {
  /* max-width: 1158px; */
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  /* padding-left: 15px;
  padding-right: 15px; */
}
.advanteges-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* gap: 24px; */
  gap: 72px;
  align-items: center;
  /* justify-content: flex-start; */
  justify-content: center;
}
.advanteges-list-item {
  /* width: 280px; */
}

.advanteges-item-border {
  display: none;
}

.feature {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  /* font-weight: 500;
  font-size: 20px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center; /* mobile */
}
.feature-txt {
  font-weight: 500; /* mobile */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
 
  color: #2e2f42;
}
/* #endregion advanteges */

/* #region Team */
.team {
  background-color: #f4f4fd;
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-header {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  margin-top: 0;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 72px;
}
.team-list-item {
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-list-item:first-child {
  border-radius: 0px 0px 4px 4px;
}

.card {
  padding: 32px 0;
}

/* .photo {
} */
.name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.sotial-lincs-icons-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-left: auto;
  padding-right: auto;
}

.team-icons-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-slink {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-slink:hover,
.team-slink:hover {
  background-color: #404bbf;
}

.team-icons {
  fill: #f4f4fd;
}

/* #endregion Team */

/*#region portfolio */
.portfolio {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  /* row-gap: 48px;
  column-gap: 24px; */
}
.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-img-cover-txt {
  transform: translateY(0%);
}

.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  max-width: 100%;;
}

.portfolio-img-cover-txt {
  position: absolute;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 32px;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-txt {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*#endregion portfolio */

/* #region footer */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  /* width: 320px; */
  /* width: 1158px; */
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 15px;
  padding-right: 15px; */
  padding-left: 16px;
  padding-right: 16px;
}

.footer-logo-section {
  /* margin-right: 120px; */
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
 
}

.logo-footer {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: #f4f4fd;
}

.footer-txt {
  width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
}

.footer-sotial-lincks-section {
  /* margin-right: 80px; */
  margin-left: auto;
  margin-right: auto;
}

.footer-sl-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-sotial-lincs-icons-list {
  width: 208px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-left: auto;
  padding-right: auto;
 
}

.footer-sl-icons-list-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sl-icon-link {
  width: 40px;
  height: 40px;
  /* width: 100%;
  height: 100%; */
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sl-icon-link:hover,
.sl-icon-link:hover {
  background-color: #31d0aa;
}

.sl-icon {
  fill: #f4f4fd;
}
.footer-form-container {
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center; /*mobil*/
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
 
  gap: 24px;
}

.footer-form-label {
}

.footer-input {
  color: #ffffff;
  /* width: 264px; */
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 16px;
  
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px;
  margin-left: auto; /*mobil */
  margin-right: auto; /*mobil */
}

.footer-icon {
  margin-left: 16px;
}
/* #endregion footer*/

/* #region backdrop*/
.backdrop {
  position: fixed;
  top: 0;
  z-index: 99999;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  height: 623px;
  /* width: 408px;
  min-height: 584px; */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding-left: 24px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  margin-bottom: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  /* visibility: visible; */
  opacity: 1;
  pointer-events: auto;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  color: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  fill: #ffff;
  border: none;
}

.modal-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-wraper {
  margin-bottom: 8px;
}
.modal-form-label-coment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-cont-input {
  position: relative;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.form-wraper-comment {
  margin-bottom: 16px;
}

.modal-form-label-comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px 8px 16px;
  outline: transparent;
  resize: none;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-checkbox {
  margin-bottom: 24px;
  margin-bottom: 24px;
}
.checkbox {
}

.custom-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  fill: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-label-checkbox {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.custom-checkbox-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.checkbox:checked + .custom-label-checkbox > .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56p;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*#endregion backdrop*/

@media screen and (min-width: 768px) {
  .myheader{
    padding-top: 0;
    padding-bottom: 0;
  }
  .container {
    max-width: 768px;
  }
  .header-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container.header-container {
    justify-content: space-between;
  }

  .nav {
  }
  .logo {
    justify-content: start;
    margin-right: 120px;
    margin-bottom: 0;
  }
  .menu {
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: center;
    gap: 40px;
  }
  .menu-link{
    display: block;
  }
  
  .address {
    display: flex;
    font-style: normal;
    margin-left: auto;
  }
  .address-list {
    flex-direction: column;

    gap: 12px;
  }
  .address-link {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* flex-direction: column; */

  .menu-open-btn {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .container .hero-container {
    padding-top: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tablet.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 1dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-tablet-2x.jpg);
    }
  }
  .hero{
    padding-top: 112px;
    padding-bottom: 112px;
  }
.hero-title{
  max-width: 496px;
  font-weight: 700;
font-size: 56px;
line-height: 1.1;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin-bottom: 36px;
}

  .advantages {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .advanteges-list {
    flex-direction: row;
    gap: 72px 24px;
  }

  .advanteges-list-item {
    width: calc((100% - 24px) / 2);
  }

  

  .feature {
    text-align: start;
  }
.feature-txt{
  letter-spacing: 0.02em;
  line-height: 1.5;
}
  .team-list {
    gap: 64px 24px;
  }
  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .portfolio-list {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
  }
  .portfolio-list-item {
    width: calc((100% - 36px - 24px) / 2);
    height: auto;
  }
   .footer-container {
    /* width: 768px; */
    flex-wrap: wrap;
    flex-direction: row;
   padding-left: 108px;
    gap: 72px 24px;
    
  }
  .footer-sotial-lincks-section {
    margin-left: 0;
    margin-right: 0;
  }
  .footer-logo-section {
  margin-right: 0;
}
.footer-text {
  text-align: left;
}
.footer-input {
  width: 264px;
}
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav {
    flex-wrap: nowrap;
    align-items: center;
  }

  .logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
  }

  .container .hero-container {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-desktop.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 1dppx),
    (min-resolution: 192dpi) {
    .hero {
        /* padding: 188px 0; */
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-desktop-2x.jpg);
    }
  }
  .hero-title {
    max-width: 496px;
    font-weight: 700;
font-size: 56px;
    line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;

  }

  
  .advanteges-list {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
    justify-content: flex-start;
    align-items: start;
  }
  .advanteges-list-item {
    width: calc((100% - 72) / 4);
  }
  .advanteges-item-border {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background: #f4f4fd;

    align-items: center;
    justify-content: center;
  }
  .advanteges-item-icon {
    /* fill: #2e2f42; */
  }

  .feature {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
  }
  .feature-txt {
    font-weight: 400;
    line-height: 1.5;
  }
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }

  .footer-container {
    width: 1158px;
    flex-wrap: nowrap;
    padding-left: 15px;
  padding-right: 15px;
  gap: 0;
  }
  .footer-logo-section {
  margin-right: 120px;
}
.footer-sotial-lincks-section {
  margin-right: auto;
}
.footer-form {
  flex-wrap: nowrap;
}

  .modal {
    width: 408px;
    min-height: 584px;
  }
}


/* #region backdrop*/
.backdrop {
  position: fixed;
  top: 0;
  z-index: 99999;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
