body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
}

/* #region header */

.logo {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-span {
  color: #4d5ae5;
}
.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.address-link {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* #endregion header */

/* #region hero */
.hero {
  background-color: #2e2f42;
  /* width: 1440px;
  height: 600px; */
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  line-height: 1.07143;
  letter-spacing: 0.02em;
}

.hero-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  /* width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px; */
}

.hero-btn:hover {
  background-color: #404bbf;
}

/* #endregion hero */

/* #region advanteges */
.advantages {
}
.advanteges-title {
}
.advanteges-list {
}
.advanteges-list-item {
}
.feature {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.feature-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion advanteges */

/* #region Team */
.team {
  background-color: #f4f4fd;
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-list {
}
.team-list-item {
}
.photo {
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* #endregion Team */

/*#region portfolio */
.portfolio {
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-img {
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*#endregion portfolio */

/* #reegion footer */
.footer {
  background-color: #2e2f42;
}

.footer .logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/*#endreegion footer*/
